.splashContainer{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    z-index: 99999;
    left: 0;
    top: 0;
    background-image: url(/resources/splash.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.fadeout{
    opacity: 0;
    transition: opacity 1s ease;
}